html {
    background: url(../img/orchid_bg.png) no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    color: #Fff;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-heading {
    position: absolute;
    right: 100px;
    font-size: 100px;
    color: #000;
    color: #fff;
    top: 0;
}

.info-button {
    width: 64px;
    height: 64px;
    background: url("../img/info_white_64.png") no-repeat;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 5;
}

.info-button:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

.description-panel .small-heading {
    font-size: 16px;
}

.sub-heading {
    text-align: right;
    font-size: 14px;
    position: relative;
    top: -5px;
}

.description-panel {
    background: #fff;
    color: #000;
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 4px;
    display: none;
    border: 1px solid black;
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 3;
}

.main-panel {
    /*outline: 1px solid red;*/
    position: absolute;
    bottom: 20px;
    right: 20px;
    float: right;
}


.tier-container {
    width: 60vw;
    background: #000;
    padding: 10px;
    clear: both;
    border-radius: 4px;
}

.tier-row {
    background: #1a1a1a;
    margin: 5px;
}

.tier-label-container {
    border-radius: 1px;
    position: relative;
    top: 3px;
    float: left;
    height: 5vw;
    width: 5vw;
}

.tier-label {
    /*position: relative;*/
    /*top: 1.3vw;*/
    /*left: 1.7vw;*/
    height: 5vw;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    width: 5vw;
    font-weight: bold;
    font-size: 2vw;
    color: #000;
}

.tier-chars {
    position: relative;
    left: 10px;
}

.char-image {
    position: relative;
    top: 2px;
    cursor: pointer;
    width: 5vw;
    border: 2px solid #000;
}

.char-image:hover {
    -webkit-filter: brightness(150%);
}

.char-container {
    position: relative;
    display: inline-block;
}

.tier-number {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 20px;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}


/* Side Panel */
.info-side-panel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: black;
    width: 32vw;
    display: none;
    padding: 20px;
    margin-top: 10px;
    clear: both;
    background: #000;
}

.info-side-panel .char-image {
    width: 3vw;
}

.info-side-panel .char-image.main-char-image {
    width: 6vw;
}

.char-name {
    display: inline-block;
    font-size: 5vw;
}

.matchup-list {
    background: #1a1a1a;    
    min-height: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-device-width: 800px) {
  .tier-container {
    width: 90vw;
  }

  .info-side-panel {
    position: absolute;
    background: #000;
    top: 11vh;
    left: 5vw;
    height: 42vh;
    width: 80vw;
  }

  .info-side-panel .char-image {
    width: 8vw;
  }

  .tier-container .char-image {
    width: 8vw;
  }

  .tier-label-container, .tier-label {
    height: 8vw;
    width: 8vw;
    font-size: 3vw;
  }
}

